body{
    text-align: center;
    background: rgb(113, 113, 170);
}
h1{
    font-size: 40px;
    font-weight: 300;
    font-family: sans-serif;
}
#app{
background-color: rgb(180, 139, 81);
}
#games{
background-color: rgb(218, 160, 210);
}
#chatbox{
background-color: rgb(115, 214, 129);
}
.line{
    height: 6px;
    background-color: aquamarine;
    width: 100%;
    margin: 8px auto;
}